<template>
  <div class="basePage">
    <NavBar class="basePage-navbar"/>
    <div class="basePage-content">
      <slot/>
    </div>
    <CustomFooter class="basePage-footer"/>
  </div>
</template>

<script>
import NavBar from "./NavBar";
import CustomFooter from "./Footer.vue";

export default {
  name: "BasePage",
  components: {CustomFooter, NavBar }
}
</script>

<style scoped>
.basePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #EDEEF0;
}

.basePage-navbar {
  background-color: white;
  box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
  border-radius: 0 0 20px 20px;
}

.basePage-content {
  z-index: 0;
  flex: 1;
}

.basePage-footer {
  bottom: 0;
  z-index: 1;
}
</style>
