<template>
		<v-text-field
			v-bind:value="value"
			:type="type"
			:label="label"
			:suffix="suffix"
			:required="required"
			:rules="rules"
      :disabled="disabled"
			rounded
         filled
         dense
			@input="onInput"
			@change="onChange"
		></v-text-field>
</template>

<script>
export default {
	name: 'CustomField',
	props: {
		type: {
			type: String,
			required: true,
		},
		label: {
			type: String,
			required: true,
		},
		suffix: {
			type: String,
			required: false,
		},
		value: {
			type: String,
			required: true,
		},
		required: {
			type: Boolean,
			required: false,
		},
		rules: {
			type: Array,
			required: false,
		},
    disabled: {
      type: Boolean,
    }
	},
	methods: {
		onInput(event) {
			// Can add validation here
			this.$emit('input', event);
		},
		onChange(event) {
			// Can add validation here
			this.$emit('change', event);
		},
	},
};
</script>
