<!--
  You must add a @clicked="myFunction" attribute when using this component to add an event to this button
-->
<template>
  <v-btn
      :class="['button', { btnDisabled: disabled }]"
      elevation="0"
      :color="color"
      rounded
      dark
      @click.prevent="onClickButton"
  >
    {{ label }}
  </v-btn>
</template>

<script>
export default {
  name: "CustomButton",
  props: {
    label: {
			type: String,
			required: true,
		},
    disabled: {
			type: Boolean,
			required: false,
      default: false,
		},
  },
  computed: {
    color: function () {
      return this.disabled ? '#F4903970' : '#F49039';
    },
  },
  methods: {
    onClickButton() {
      this.$emit('clicked')
    }
  }
}
</script>

<style scoped>
.button {
  text-decoration-color: white;
}

.btnDisabled {
  pointer-events: none;
}
</style>
