<template>
  <div class="customWhiteContainer"
       :class="[{'topRightRadius' : topRight},
                {'topLeftRadius' : topLeft},
                {'bottomRightRadius' : bottomRight},
                {'bottomLeftRadius' : bottomLeft},]"
       :style="'background-color: ' + backgroundColor + ';padding: ' + padding + ';color: ' + (whiteText ? 'white' : 'black')">
    <h1 class="title" v-if="title != null">{{ title }}</h1>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "CustomWhiteContainer",
  props: {
    whiteText: {
      type: Boolean,
      required:false,
      default: false,
    },
    title: {
      type: String,
      required: false,
      default: null,
    },
    topRight: {
      type: Boolean,
      required: false,
      default: true,
    },
    topLeft: {
      type: Boolean,
      required: false,
      default: true,
    },
    bottomRight: {
      type: Boolean,
      required: false,
      default: true,
    },
    bottomLeft: {
      type: Boolean,
      required: false,
      default: true,
    },
    backgroundColor: {
      type: String,
      required: false,
      default: '#FFFFFF',
    },
    padding: {
      type: Number,
      required: false,
      default: 0,
    }
  },
}
</script>

<style scoped>
.customWhiteContainer {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}

.title {
  padding: 5%;
}

.topRightRadius {
  border-top-right-radius: 20px;
}

.topLeftRadius {
  border-top-left-radius: 20px;
}

.bottomRightRadius {
  border-bottom-right-radius: 20px;
}

.bottomLeftRadius {
  border-bottom-left-radius: 20px;
}

</style>
