<!--
  You must add a @clicked="myFunction" attribute when using this component to add an event to this button
-->

<template>
  <v-btn
      class="button"
      elevation="0"
      color="white"
      rounded
      @click.prevent="onClickButton"
  >
    <v-icon
        left
    >
      mdi-google
    </v-icon>
    {{ label }}
  </v-btn>
</template>

<script>
export default {
  name: "CustomGoogleButton",
  props: {
    label: {
			type: String,
			required: true,
		},
  },
  methods: {
    onClickButton() {
      this.$emit('clicked')
    }
  }
}
</script>

<style scoped>
.button {
  text-decoration-color: white;
}
</style>
