<template>
  <div class="alping-footer">
    <div class="alping-footer-phrase">
      <div><a href="/about" class="link">À propos de Alping</a></div>
      <div>Made with ❤️ in Switzerland</div>
    </div>
    <div class="alping-footer-logo">
      <img src="../assets/img/alpingOrange.png" alt="Alping logo">
    </div>
    <div class="alping-footer-details">
      <b>Distributed under MIT License</b><br/>
      Geocoding service from <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> - Nominatim API
    </div>
  </div>
</template>

<script>
export default {
  name: "CustomFooter"
}
</script>

<style scoped>
.alping-footer {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  padding: 20px 3% 15px;
}

.alping-footer-phrase {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.link {
  color: inherit;
  text-decoration: none;
}

.alping-footer-logo {
  flex: 1;
  margin: auto 15px;
}

.alping-footer-logo img {
  width: 100%;
  max-width: 300px;
}

.alping-footer-details {
  flex: 1;
  text-align: right;
  font-size: 0.875rem;
}
</style>