<template>
  <v-virtual-scroll class="virtual-scroll" :items="items" :item-height="142" :height="height" bench="1">
    <template v-slot:default="{ item }">
      <v-list-item :key="item._id" class="v-list-item-container" @click="show(item._id)">
        <img class="tiny_img" :src="require(`../assets/img/hike_images/hike_${item.image}.jpg`)" alt="hike_image"/>
        <div class="list-item-desc">
          <div class="hiking-info-1 py-0">
            <v-list-item-title>{{ item.title }}</v-list-item-title>
            <v-list-item-subtitle>{{ item.distance }} km</v-list-item-subtitle>
            <v-list-item-subtitle>{{ item.duration }}h</v-list-item-subtitle>
            <v-list-item-subtitle>De: {{ item.owner }}</v-list-item-subtitle>
            <v-list-item-subtitle>Date: {{ formatDate(item.date) }}</v-list-item-subtitle>
          </div>
          <div class="hiking-info-2">
            <div class="participants">
              <v-icon class="hiking_icon ml-0 mr-2" right>
                fa-hiking
              </v-icon>
              {{ item.participants.length }}
            </div>
            <v-rating
                v-model="item.difficulty"
                length=4
                readonly
                class="hiking-info-2-rating"
            >
              <template v-slot:item="props">
                <v-icon
                    class="pa-1"
                    :color="props.isFilled ? '#FF9950' : 'grey lighten-1'"
                    small
                >
                  fa-mountain
                </v-icon>
              </template>
            </v-rating>
          </div>
        </div>
      </v-list-item>
      <v-divider/>
    </template>
  </v-virtual-scroll>
</template>


<script>
import {formatDate} from "../tools/utils";

export default {
  props: {
    items: {
      type: Array,
      required: true,
    },
    height: {
      type: String
    }
  },
  methods: {
    show: function (id) {
      this.$emit('onItemClick', id)
    },
    formatDate(date) {
      return formatDate(date)
    },
  },
}
</script>

<style scoped>
.virtual-scroll {
  z-index: 3;
}

.v-list-item-container {
  padding: 8px 0;
  justify-content: space-between;
}

.v-list-item-container:hover {
  background: #E7E9EB;
}

.tiny_img {
  max-width: 200px;
  width: 45%;
  height: 125px;
  border-radius: 25px;
  object-fit: cover;
  margin-left: 5px;
}

.list-item-desc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 3%;
}

.hiking-info-1 {
  text-align: left;
}

.hiking-info-2 {
  margin-left: 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hiking-info-2-rating {
  display: flex;
}

@media (min-width: 500px) {
  .hiking-info-2 {
    flex-direction: column;
  }
}

@media (min-width: 830px) AND (max-width: 965px) {
  .hiking-info-2 {
    flex-direction: row;
  }

  .hiking-info-2-rating {
    flex-direction: column-reverse;
  }
}

.participants {
  display: flex;
  align-items: center;
  padding: 5px;
}

.hiking_icon {
  color: #FF9950;
}
</style>
