<template>
    <v-card-title class="card_title">
      <CustomButton v-if="headerTitle === null" label="Créer une randonnée" @clicked="$router.push('/newHike')"></CustomButton>
      <div v-else>{{ headerTitle }}</div>
    </v-card-title>
</template>

<script>
import CustomButton from "./CustomButton";
export default {
  components: {CustomButton},
  props:{
    headerTitle : {
      type: String
    },
  }
}
</script>

<style scoped>
.card_title {
  justify-content: center;
}
</style>
