<template>
  <v-card class="mx-auto hike-list-card">
    <HikeListHeader :header-title="headerTitle"/>
    <v-divider/>
    <HikeListContent class="hike-list" :items="items" @onItemClick="toggleModal" />
  </v-card>
</template>


<script>
import HikeListHeader from "./HikeListHeader";
import HikeListContent from "./HikeListContent.vue";

export default {
  components: {HikeListHeader, HikeListContent},
  props: {
    items: {
      type: Array,
      required: true,
    },
    headerTitle: {
      type: String
    },
  },
  methods: {
    toggleModal: function (id) {
      this.$emit('dialogChange', id, true);
    }
  },
}
</script>

<style scoped>
.hike-list-card {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 100%;
}
.hike-list {
  height: calc(100% - 100px);
  /*header: 70px & footer 30px*/
}
</style>
