<template>
	<div class="form">
		<p class="form-title">
			{{ formLabel }}
		</p>
		<v-form ref="form" v-model="valid">
			<v-row no-gutters>
				<v-col cols="12">
					<CustomField
						type="text"
						label="Titre"
						v-model="hikeData.title"
						required
						:rules="titleRules"
					/>
				</v-col>
			</v-row>

			<v-row no-gutters>
				<v-col cols="12">
					<v-menu
						v-model="dateMenu"
						:close-on-content-click="false"
						transition="scale-transition"
						offset-y
					>
						<template v-slot:activator="{ on, attrs }">
							<v-text-field
								v-model="hikeData.date"
								label="Date"
								append-icon="fa-calendar-alt"
								readonly
								rounded
								filled
								v-bind="attrs"
								v-on="on"
							></v-text-field>
						</template>
						<v-date-picker
							v-model="hikeData.date"
							no-title
							@input="dateMenu = false"
						></v-date-picker>
					</v-menu>
				</v-col>
			</v-row>

			<v-row no-gutters>
				<v-col cols="12">
					<CustomField
						type="text"
						label="Distance"
						suffix="km"
						v-model="hikeData.distance"
						required
						:rules="numberRules"
					/>
				</v-col>
			</v-row>

			<v-row no-gutters>
				<v-col cols="12">
					<CustomField
						type="text"
						label="Durée"
            suffix="h"
						v-model="hikeData.duration"
						required
						:rules="numberRules"
					/>
				</v-col>
			</v-row>

			<v-row no-gutters>
				<v-col cols="12">
					<div class="difficulty">
						<span class="mr-1">Difficulté </span>
						<v-rating v-model="hikeData.difficulty" length="4">
							<template v-slot:item="props">
								<v-icon
                    class="pa-1"
									:color="
										props.isFilled ? '#FF9950' : 'grey lighten-1'
									"
									@click="props.click"
									small
								>
									fa-mountain
								</v-icon>
							</template>
						</v-rating>
					</div>
				</v-col>
			</v-row>

			<v-row no-gutters>
				<v-col cols="12">
					<v-textarea
						filled
						rounded
						no-resize
						name="description"
						label="Description"
						v-model="hikeData.description"
					></v-textarea>
				</v-col>
			</v-row>

			<div class="btn">
				<CustomButton :label="btnLabel" @clicked="submit" :disabled="!valid"/>
			</div>
		</v-form>
	</div>
</template>

<script>
import CustomButton from './CustomButton.vue';
import CustomField from './CustomField.vue';
import {numberRules, titleRules} from "@/tools/inputRules";

export default {
	name: 'HikeForm',
	components: { CustomField, CustomButton },
  props: {
    hike: {
      type: Object,
      required: true,
    },
    formLabel: {
      type: String,
      required: true,
    },
    btnLabel: {
      type: String,
      required: true,
    },
  },
	data() {
		return {
			valid: true,
			dateMenu: false,
			titleRules: titleRules,
			numberRules: numberRules,
      hikeData: {...this.hike},
		};
	},
	methods: {
		submit() {
			if (this.$refs.form.validate()) {
				this.$emit('onSubmit', this.hikeData);
			}
		},
	},
};
</script>

<style scoped>
.form {
	max-width: 50%;
	background-color: #ffffff;
	position: relative;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 1rem;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
		0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.form-title {
	text-align: center;
	font-size: 1.2rem;
}

.difficulty {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 24px;
  font-size: 16px;
}

.btn {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translateY(50%);
}

@media (max-width: 460px) {
  .form {
    max-width: 80%;
    border-radius: 20px;
    margin-bottom: 30px;
  }
}
</style>
