<template>
  <v-dialog v-model="show" content-class="my-custom-dialog">
    <v-card
        class="card d-flex flex-column align-center"
    >
      <div class="img-container">
        <v-img
            class="hike-img"
            :src="require(`../assets/img/hike_images/hike_${hike.image}.jpg`)"
        ></v-img>
        <div
            class="hike-title"
        >
          {{ hike.title }}
        </div>
      </div>

      <v-avatar
          class="hike-avatar"
          size="115"
      >
        <v-img
            alt="user"
            :src="ownerImage"
        />
      </v-avatar>

      <v-icon
          v-if="logged && loggedUser.username === hike.owner"
          class="fav-icon"
          @click="editHike"
          color="#FF9950"
      >
        fa-edit
      </v-icon>
      <v-icon
          v-else-if="logged"
          class="fav-icon"
          @click="handleFav()"
          :color="isFavorite() ? '#FF4033' : 'grey lighten-1'"
      >
        fa-heart
      </v-icon>

      <v-btn
          class="my-3"
          elevation="0"
          color='#F49039'
          :outlined="contact"
          rounded
          dark
          large
          @click="contact = !contact"
      >
        <div
            class="btn-text"
            v-if="!contact">Contacte-moi !
        </div>
        <span
            class="btn-text"
            v-if="contact"
        ><b>Tél: {{ ownerPhone }}</b>
            <span
                class="btn-text light-grey"> / </span>
            <b>{{ ownerEmail }}</b>
          </span>
      </v-btn>

      <v-card-text class="hike d-flex flex-column align-center flex-sm-row align-sm-start">
        <div class="hike-column-left">
          <div>
            <b>Distance : </b>{{ hike.distance }}km
          </div>
          <div>
            <b>Durée : </b>{{ hike.duration }}h
          </div>
          <div class="hike-difficulty">
            <div><b>Difficulté : </b></div>
            <v-icon
                v-for="n in 4" :key="n"
                :color="n <= hike.difficulty ? '#FF9950' : 'grey lighten-1'"
                size="18"
            >
              fa-mountain
            </v-icon>
          </div>
          <div>
            <b>Participants : </b>{{ participants.length }}
          </div>
          <div>
            <b>Organisateur : </b>
            <router-link :to="`/profile/${hike.owner}`">{{ hike.owner }}</router-link>
          </div>
        </div>

        <div class="hike-column-right">
          <div>
            <b>Date : </b>{{ formatDate(hike.date) }}
          </div>
          <div>
            <b>Description : </b><br/>
          </div>
          <div class="hike-description">
            {{ hike.description }}
          </div>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import {mapActions} from 'vuex';
import {fetchUserByUsername} from "../tools/dbInteraction";
import {formatDate} from "../tools/utils";

export default {
  name: 'HikeDialog',
  components: {},
  data: () => {
    return {
      contact: false,
      ownerPhone: null,
      ownerEmail: null,
      ownerImage: null,
      hikeImage: null,
      participants: [],
    }
  },
  props: {
    value: Boolean,
    hike: Object,
  },
  computed: {
    logged: function () {
      return this.$store.getters.isUserAuth;
    },
    loggedUser: function () {
      return this.$store.getters.connectedUser;
    },
    show: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    },
  },
  methods: {
    ...mapActions(['addFavHike', 'removeFavHike']),

    editHike() {
      this.$store.commit('setHikeToUpdate', this.hike)
      this.$router.push('/edition/hike')
    },

    isFavorite() {
      return this.loggedUser.favorites.includes(this.hike._id);
    },

    handleFav() {
      if (this.isFavorite()) {
        const idx = this.participants.indexOf(this.loggedUser.uid);
        this.participants.splice(idx, 1);
        this.removeFavHike({hikeId: this.hike._id, participants: this.participants});
      } else {
        this.participants.push(this.loggedUser.uid);
        this.addFavHike({hikeId: this.hike._id, participants: this.participants});
      }
    },

    async ownerInfo() {
      const owner = await fetchUserByUsername(this, this.hike.owner);
      this.ownerEmail = owner.email;
      this.ownerPhone = owner.phone;
      this.ownerImage = owner.image;
    },

    formatDate(date) {
      return formatDate(date);
    }
  },
  created() {
    this.participants = this.hike.participants;
    this.ownerInfo();
  }
};
</script>

<style scoped>
>>> .my-custom-dialog {
  width: auto;
  box-shadow: none;
}

.card {
  position: relative;
  box-shadow: none;
  border-radius: 20px;
  width: 650px;
  margin-top: 110px;
  padding-top: 60px;
}

.img-container {
  position: absolute;
  border-radius: 20px;
  top: -110px;
  width: 70%;
  height: 220px;
  overflow: hidden;
}

.hike-img {
  position: relative;
  height: 100%;
}

.hike-title {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: fit-content;
  width: 100%;
  font-weight: bold;
  font-size: 32px;
  color: #FFFFFF;
  word-break: break-word;
  background-color: rgba(0, 0, 0, 0.2);
}

.hike-avatar {
  margin: 0 auto;
  height: 100%;
  border: 3px solid white;
}

.fav-icon {
  font-size: 35px;
  position: absolute;
  right: 5%;
  top: 29%;
}

.btn-text {
  font-family: Quicksand, sans-serif;
  font-weight: bold;
}

.light-grey {
  color: lightgrey;
}

.hike {
  line-height: 2rem;
  justify-content: space-evenly;
  text-align: left;
}

.hike-difficulty {
  display: flex;
  column-gap: 10px;
}

.hike-column-left {
  min-width: 200px;
  max-width: 50%;
}

.hike-column-right {
  min-width: 200px;
  max-width: 50%;
}

.hike-description {
  line-height: normal;
  text-align: justify;
  max-height: 5rem;
  overflow: auto;
}
</style>
