<template>
  <div class="home-navbar-container">
    <div class="home-navbar-container-1">
      <router-link to="/about">
        <img class="logo" src="../assets/img/alpingWhite-big.png" alt="logo-normal">
      </router-link>
      <ProfileIcon/>
    </div>
    <div class="home-navbar-container-2">
      <SearchBarConditional/>
    </div>
  </div>
</template>

<script>
import ProfileIcon from './ProfileIcon.vue';
import SearchBarConditional from "@/components/SearchBarConditional.vue";

export default {
  components: {SearchBarConditional, ProfileIcon},
}
</script>

<style>
.home-navbar-container {
  width: 100%;
}

.home-navbar-container-1 {
  display: flex;
  padding: 15px 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.home-navbar-container-2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  max-width: 180px;
}
</style>
