<template>
  <div class="horizontal-list">
    <h2 class="title">{{ title }}</h2>
    <vue-horizontal-list :items="items"
                         :options="{responsive: [{end:650, size: 2}, { start: 650, end: 992, size: 3 }]}">
      <template v-slot:default="{ item }">
        <div class="image-container" @click="openSearch(item.title)">
          <img :src="item.image" alt="list image"/>
          <div class="image-text">
            <h2>{{ item.title }}</h2>
          </div>
        </div>
      </template>
    </vue-horizontal-list>
  </div>
</template>

<script>
import VueHorizontalList from "vue-horizontal-list";
import {DEFAULT_QUERY, searchData} from "@/tools/utils";

export default {
  name: "HorizontalList",
  components: {
    VueHorizontalList,
  },
  props: {
    title: String,
    items: {
      type: Array,
      required: true,
    },
  },
  methods: {
    openSearch(to) {
      let query = DEFAULT_QUERY;
      query.place = to;
      searchData(this, query, 50);
    }
  }
};
</script>

<style scoped>
.title {
  text-align: left;
}

.horizontal-list {
  padding: 3% 3% 0;
  max-height: 500px;
}

.image-container {
  overflow: hidden;
  position: relative;
  width: 95%;
  min-height: 300px;
  padding-top: 120%;
  border-radius: 5%;
  transition: transform .4s;
  cursor: pointer;
}

@media (max-width: 460px) {
  .image-container {
    width: 100%;
  }
}

.image-container:hover, .image-container:focus {
  transform: translate(0, -10px) scale(1.02);
}

.image-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.image-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 32px 24px;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(to bottom, transparent 30%, black 110%);
}

.image-text h2 {
  margin: 0;
  color: white;
  text-align: center;
}
</style>
