<template>
	<div class="map">
		<div class="geolocateBtn">
			<v-icon large color="#F49039" @click="geolocate">
				mdi-crosshairs-gps
			</v-icon>
		</div>

		<GmapMap
			:center="center"
			:zoom="15"
			:options="mapOptions"
			style="width: 100%; height: 100%"
			ref="mapRef"
			@click="handleMapClick"
		>
			<GmapMarker
				:position="marker.position"
				:clickable="true"
				:draggable="true"
				@drag="handleMarkerDrag"
				@click="panToMarker"
			/>
		</GmapMap>
	</div>
</template>

<script>
export default {
	name: 'LocationPicker',
	props: { location: Object },
	data() {
		return {
			marker: { position: this.location },
			center: this.location,

			mapOptions: {
				mapTypeId: 'hybrid',
				disableDefaultUI: true,
				zoomControl: true,
				mapTypeControl: true,
				gestureHandling: 'cooperative',
			},
		};
	},
	// Si on veut positionner le marqueur sur l'utilisateur en arrivant sur la page
	// mounted() {
	// 	this.geolocate();
	// },
	methods: {
		// Detects location from browser
		geolocate() {
			navigator.geolocation.getCurrentPosition((position) => {
				this.marker.position = {
					lat: position.coords.latitude,
					lng: position.coords.longitude,
				};

				this.panToMarker();
			});
		},

		//Move the map view port to marker
		panToMarker() {
			this.$refs.mapRef.panTo(this.marker.position);
		},

		// Update marker's position and notify parent
		updateMarker(e) {
			this.marker.position = { lat: e.latLng.lat(), lng: e.latLng.lng() };
			this.$emit('update:location', this.marker.position);
		},

		// Set the marker's position when dragged
		handleMarkerDrag(e) {
			this.updateMarker(e);
		},

		// Move the marker to the position clicked on the map
		handleMapClick(e) {
			this.updateMarker(e);
		},
	},
};
</script>

<style scoped>
.map {
	border-radius: 20px;
	overflow: hidden;
	width: 70vmin;
  height: 685px;
	position: relative;
}

.geolocateBtn {
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 10px;
}

@media (max-width: 460px) {
  .map {
    height: 450px;
    width: 80vmin;
    margin-bottom: 40px;
  }
}
</style>
