<template>
  <div class="navbar-container">
    <router-link class="logo" to="/">
      <img src="../assets/img/alpingOrange.png" alt="logo-small">
    </router-link>
    <SearchBarConditional/>
    <ProfileIcon/>
  </div>
</template>

<script>
import ProfileIcon from './ProfileIcon.vue';
import SearchBarConditional from "./SearchBarConditional.vue";

export default {
  components: {SearchBarConditional, ProfileIcon},
}
</script>

<style>
.navbar-container {
  display: flex;
  padding: 15px 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 180px;
}
</style>
