<template>
  <div class="icon-column">
    <v-menu offset-y right transition="fade-transition" rounded="xl">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            class="icon-button"
            icon
            height="60"
            width="60"
            v-bind="attrs"
            v-on="on"
        >
          <v-avatar v-if="logged">
            <v-img :src="$store.getters.connectedUser.image"></v-img>
          </v-avatar>
          <v-avatar v-else>
            <v-icon x-large color="#FF9950">fas fa-user-circle</v-icon>
          </v-avatar>
        </v-btn>
      </template>
      <v-list flat>
        <v-list-item-group>
          <v-list-item v-for="(item, index) in profileButtons" :key="index">
            <v-list-item-content>
              <v-list-item-title
                  @click="$router.push(item.page)"
              >{{ item.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <div v-if="logged" class="logout">
            <button @click="logOut">
              <v-icon color="#FF9950">fas fa-sign-out-alt</v-icon>
              Logout
            </button>
          </div>
        </v-list-item-group>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  computed: {
    logged: function () {
      return this.$store.getters.isUserAuth;
    },

    connectedUserName: function () {
      return this.$store.getters.connectedUser.username;
    },

    profileButtons: function () {
      if (this.logged) {
        return [
          {text: 'Créer une randonnée', page: {name: 'CreateHike'}},
          {
            text: 'Profil',
            page: {
              name: 'Profile',
              params: {username: this.connectedUserName},
            },
          },
          {text: 'Modifier profil', page: {name: 'UserEdition'}},
        ];
      }
      return [{text: 'Connexion / Inscription', page: {name: 'Signup'}}];
    },

    currentRouteName() {
      return this.$route.name;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch('signOutAction');
      if (this.currentRouteName !== 'Home') {
        this.$router.replace({name: 'Home'});
      }
    },
  },
};
</script>

<style scoped>
.icon-column {
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.icon-button {
  background-color: white;
}

.logout {
  padding: 12px 0 12px;
}
</style>
