<template>
  <div v-if="$vuetify.breakpoint.width <= 866">
    <v-btn
        class="icon-btn"
        elevation="0"
        icon
        height="60px"
        width="60px"
        @click="toggleSearchbar"
    >
      <v-icon color="#FF9950" size="28">fa-search</v-icon>
    </v-btn>
    <v-dialog v-model="showVerticalSearchbar" max-width="fit-content" content-class="search-dialog">
      <v-card class="search-dialog-card">
        <SearchBar/>
      </v-card>
    </v-dialog>
  </div>
  <SearchBar v-else/>
</template>

<script>
import SearchBar from "./SearchBar";

export default {
  components: {SearchBar},
  data() {
    return {
      showVerticalSearchbar: false
    }
  },
  methods: {
    toggleSearchbar() {
      this.showVerticalSearchbar = !this.showVerticalSearchbar;
    }
  }
}
</script>

<style scoped>
>>> .search-dialog {
  box-shadow: none;
  position: absolute;
  top: 0;
}
.search-dialog-card {
  background-color: unset;
}
.icon-btn{
  background-color: rgb(255, 255, 255, 0.5);
  border: 1px solid #F49039;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
</style>
