<template>
  <v-hover v-slot="{ hover }">
    <div class="searchbar rounded-pill">
      <div class="searchbar-form rounded-pill">
        <v-text-field
            v-model="place"
            label="Lieu"
            height=50
            rounded
            color="hover ? grey lighten-2 : white"
        ></v-text-field>
      </div>
      <v-divider
          :class="{ 'on-hover': hover }"
          vertical
          inset
      ></v-divider>
      <div class="searchbar-form rounded-pill">
        <v-menu
            v-model="dateMenu"
            :close-on-content-click="false"
            transition="scale-transition"
            rounded="xl"
            offset-y
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
                v-model="dateRangeFormatedText"
                label="Date"
                readonly
                rounded
                height=50
                v-bind="attrs"
                v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
              v-model="dates"
              range
          ></v-date-picker>
        </v-menu>
      </div>
      <v-divider
          :class="{ 'on-hover': hover }"
          vertical
          inset
      ></v-divider>
      <div class="searchbar-form rounded-pill">
        <v-menu
            v-model="distanceMenu"
            :close-on-content-click="false"
            transition="scale-transition"
            rounded="xl"
            offset-y
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
                v-model="distanceRangeFormatedText"
                label="Distance"
                readonly
                rounded
                height=50
                v-bind="attrs"
                v-on="on"
                v-on:click="initDistanceRange()"
            ></v-text-field>
          </template>
          <v-container class="range-slider">
            <v-range-slider
                v-model="distances"
                messages="Distance en kilomètres"
            ></v-range-slider>
          </v-container>
        </v-menu>
      </div>
      <v-divider
          :class="{ 'on-hover': hover }"
          vertical
          inset
      ></v-divider>
      <div class="searchbar-form rounded-pill">
        <div class="searchbar-form-difficulty">
          <v-rating
              v-model="difficulty"
              length=4
          >
            <template v-slot:item="props">
              <v-icon
                  class="pa-1"
                  :color="props.isFilled ? '#FF9950' : 'grey lighten-1'"
                  @click="props.click"
                  small
              >
                fa-mountain
              </v-icon>
            </template>
          </v-rating>
        </div>
      </div>
      <div class="searchBtn">
        <v-btn
            elevation="0"
            icon
            height="75px"
            width="75px"
            @click="search"
            :disabled="fetchLimit"
        >
          <v-icon color="#FF9950" size="28">fa-search</v-icon>
        </v-btn>
      </div>
    </div>
  </v-hover>
</template>

<script>
import {DEFAULT_QUERY, searchAll, searchData} from "@/tools/utils";

export default {
  data: () => ({
    dates: [],
    place: null,
    distances: [],
    difficulty: 0,
    dateMenu: false,
    distanceMenu: false,
    difficultyMenu: false,
    fetchLimit: false,
  }),
  computed: {
    dateRangeFormatedText() {
      return this.dates.map(date => this.formatDate(date)).join(' ー ')
    },
    distanceRangeFormatedText() {
      if (this.distances.length === 0) {
        return "";
      }
      let output = ""
      if (this.distances[0] === this.distances[1]) {
        output = this.distances[0];
      } else {
        output = this.distances.join(' ー ');
      }
      return output + " km"
    }
  },
  methods: {
    search() {
      const queryData = DEFAULT_QUERY;
      let dataChanged = false;
      let rad = 150;

      if (this.dates.length !== 0) {
        queryData.datemin = this.dates[0];
        queryData.datemax = this.dates[1];
        dataChanged = true;
      }

      if (this.place !== null) {
        queryData.place = this.place;
        dataChanged = true;
        rad = 25;
      }

      if (this.distances.length !== 0) {
        queryData.distmin = this.distances[0];
        queryData.distmax = this.distances[1];
        dataChanged = true;
      }

      if (this.difficulty !== 0) {
        queryData.diffmin = 1;
        queryData.diffmax = this.difficulty;
        dataChanged = true;
      }

      if (dataChanged) {
        searchData(this, queryData, rad);
        this.waitASec(); // limits api call frequency to 1x/s.
      } else {
        searchAll(this);
      }

    },
    initDistanceRange() {
      if (this.distances.length === 0) {
        this.distances = [0, 100];
      }
    },
    formatDate(date) {
      if (!date) return null
      const [, month, day] = date.split('-')
      return `${day}/${month}`
    },
    waitASec() {
      this.fetchLimit = true;
      setTimeout(() => this.fetchLimit = false, 1000);
    }
  },
}
</script>

<style>
.searchbar {
  display: flex;
  height: 75px;
  max-width: 800px;
  background-color: #fbfbfb;
  margin: 0 12px;
}

@media (max-width: 866px) {
  .searchbar {
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.65);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    padding: 45px 0 20px;
  }
}

.searchbar-form {
  height: 100%;
  width: 100%;
  max-height: 75px;
}

.searchbar-form:hover {
  background-color: #F4F4F4;
}

.searchbar-form-difficulty, .searchBtn {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar-form-difficulty {
  padding: 0 10px;
}

.range-slider {
  background-color: white;
}

.dark-style { /* Do not remove */
  background-color: #EDEEF0;
}
</style>
