<template>
  <v-row class="user-information">
    <v-col cols="4" sm="3" md="2" class="pr-1">
      <v-avatar
          max-width="150px"
          max-height="150px"
          width="100%"
          height="100%">
        <img
            :src="userInfo.image"
            alt="profile_img">
      </v-avatar>
    </v-col>
    <v-col cols="7" sm="6" md="5" class="pl-0">
      <v-card class="mx-auto">
        <v-list-item three-line>
          <v-list-item-content class="text-left">
            <v-list-item-title class="text-h5 mb-1">
              {{ userInfo.username }}
            </v-list-item-title>
            <div class="mb-4 d-flex flex-column flex-sm-row align-sm-center">
              <div class="text-overline mr-3">
                Experience
              </div>
              <v-rating
                  :value="userInfo.experience"
                  length=4
                  readonly>
                <template v-slot:item="props">
                  <v-icon
                      :color="props.isFilled ? '#FF9950' : 'grey lighten-1'"
                      small>
                    fa-mountain
                  </v-icon>
                </template>
              </v-rating>
            </div>
            <v-list-item-subtitle>{{ difficultyQuotes[userInfo.experience - 1] }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "UserInformation",
  props: {
    userInfo: {
      required: true,
    },
  },
  data() {
    return {
      difficultyQuotes: [
        "I've never done any hike...",
        "I'm a beginner hiker !",
        "I'm an intermediate hiker !",
        "I'm an experienced hiker !"
      ]
    }
  }
}
</script>

<style scoped>
.user-information {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
</style>
