h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Serif Display', sans-serif;
  font-size: 75px;
  line-height: 120%;
  font-weight: 600;
  text-transform: capitalize;
}

h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Serif Display', sans-serif;
  font-size: 64px;
  line-height: 110%;
  font-weight: 600;
}

h4 {
  margin-top: 0;
  margin-bottom: 24px;
  color: #fbd784;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
}

p {
  margin-bottom: 32px;
}

a {
  color: #fbd784;
  text-decoration: none;
}

.site-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #0b1d26;
  box-shadow: 28px 28px 80px 0 rgba(11, 29, 38, 0.4);
  font-family: 'Sans Serif', Arial, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  text-align: left;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-wrapper.hero {
  position: fixed;
  top: 25%;
  z-index: 50;
  max-width: 1920px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-wrapper.content {
  max-width: 1440px;
  margin-bottom: 150px;
}

.content-wrapper.content.footer {
  margin-bottom: 200px;
}

.content-hero {
  z-index: -700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 790px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tagline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fbd784;
}

.tagline-line {
  width: 72px;
  height: 2px;
  margin-right: 24px;
  background-color: #fbd784;
}

.h1-title {
  margin-bottom: 32px;
  font-family: 'Serif Display', sans-serif;
}

.hg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.vg {
  position: absolute;
  left: 0;
  top: 60%;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.mg {
  position: absolute;
  left: 0;
  top: 40%;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.gradient-hero {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(135deg, #0b1d26, transparent 87%);
  opacity: 0.6;
}

.hero-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-section {
  position: relative;
  z-index: 50;
  padding-top: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 29, 38, 0)), color-stop(20%, #0b1d26));
  background-image: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 20%);
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 81px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid.footer {
  grid-column-gap: 0;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
}

.content-text {
  position: relative;
  width: 100%;
  max-width: 550px;
}

.footer {
  background-color: #0b1d26;
  z-index: 51;
}

.footer-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.links {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-link {
  margin-bottom: 8px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-weight: 500;
}

.footer-link:hover {
  color: #fbd784;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(3, 18, 26, 0.8);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.image {
  width: 480px;
  height: 680px;
  -o-object-fit: cover;
  object-fit: cover;
}

.custom-link {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  background: rgba(35, 51, 59,1);
  color: white;
  box-shadow: 0 0 0 3px white inset;
  text-align: center;
}

.custom-link:hover {
  transform: scale(1.05);
}

.center {
  display: flex;
  justify-content: center;
}

.btn-container {
  margin-bottom: 100px;
}

@media screen and (max-width: 991px) {
  .content-wrapper.hero {
    top: 16%;
  }

  .content-wrapper.content {
    margin-bottom: 120px;
  }

  .content-wrapper.content.footer {
    margin-bottom: 80px;
  }

  .content-hero {
    max-width: 610px;
  }

  .h1-title {
    font-size: 58px;
  }

  .vg {
    top: 45%;
  }

  .mg {
    top: 30%;
  }

  .content-section {
    margin-top: -120px;
    padding-top: 0;
  }

  .grid {
    justify-items: center;
    grid-column-gap: 32px;
    grid-row-gap: 64px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid.footer {
    grid-column-gap: 40px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .links {
    grid-column-gap: 27px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-links._02 {
    display: none;
  }

  .image {
    width: 600px;
    height: 420px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }

  .image._01 {
    -o-object-position: 50% 100%;
    object-position: 50% 100%;
  }
}

@media screen and (max-width: 767px) {
  .content-wrapper.hero {
    padding-right: 32px;
    padding-left: 32px;
  }

  .content-wrapper.content {
    margin-top: 0;
    padding-right: 32px;
    padding-left: 32px;
  }

  .tagline {
    margin-bottom: 16px;
  }

  .h1-title {
    margin-bottom: 24px;
  }

  .hg {
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .vg {
    top: 55%;
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 0;
    object-position: 50% 0;
  }

  .mg {
    top: 35%;
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .hero-section {
    height: 1000px;
  }

  .content-section {
    margin-top: -120px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 29, 38, 0)), color-stop(5%, #0b1d26));
    background-image: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 5%);
  }

  .grid.footer {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .head {
    font-size: 48px;
  }

  .links {
    grid-column-gap: 23px;
  }

  .footer-text {
    margin-bottom: 32px;
  }
  
  .custom-link {
    font-size: 28px;
  }
}

@media screen and (max-width: 479px) {
  p {
    margin-bottom: 24px;
    line-height: 28px;
  }

  .content-wrapper.hero {
    padding-right: 24px;
    padding-left: 24px;
  }

  .content-wrapper.content {
    margin-bottom: 100px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .content-hero {
    max-width: 350px;
  }

  .tagline-line {
    width: 40px;
    margin-right: 16px;
  }

  .h1-title {
    font-size: 48px;
  }

  .hg {
    -o-object-position: 30% 50%;
    object-position: 30% 50%;
  }

  .vg {
    -o-object-position: 30% 50%;
    object-position: 30% 50%;
  }

  .mg {
    -o-object-position: 30% 50%;
    object-position: 30% 50%;
  }

  .content-section {
    margin-top: -80px;
  }

  .head {
    font-size: 40px;
  }

  .links {
    grid-column-gap: 26px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .image {
    height: 320px;
  }

  .heading-tagline {
    font-size: 12px;
    letter-spacing: 4px;
  }
}

#w-node-435c3832b714-0b7ceb38 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-12f012158455-0b7ceb38 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-12f012158464-0b7ceb38 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-af252b1c3813-0b7ceb38 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-af252b1c3822-0b7ceb38 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-98e738a28e3d-0b7ceb38 {
  -ms-grid-column-align: end;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-435c3832b714-0b7ceb38 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-12f012158455-0b7ceb38 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-12f012158464-0b7ceb38 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-af252b1c3813-0b7ceb38 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-af252b1c3822-0b7ceb38 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-98e738a28e3d-0b7ceb38 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@font-face {
  font-family: 'Sans Serif';
  src: url('@/assets/landingpage/fonts/SansSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sans Serif';
  src: url('@/assets/landingpage/fonts/SansSerif-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Sans Serif';
  src: url('@/assets/landingpage/fonts/SansSerif-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Serif Display';
  src: url('@/assets/landingpage/fonts/SerifDisplay-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}