<template>
  <v-app id="app">
    <router-view class="view"/>
  </v-app>
</template>

<script>
export default {
  mounted() {
    this.$store.dispatch('authAction');
  },
}
</script>

<style>
#app {
  font-family: "Quickasand",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #EDEEF0;
}

.view {
  height: 100%;
}

html {
  overflow-y: auto !important;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  padding-left: 2px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f59949;
}
</style>
