<template>
  <div class="site-wrapper">
    <div class="hero-section">
      <div data-w-id="3f00c438-a0f3-3091-6407-ce77cd80edd8" class="content-wrapper hero">
        <div class="content-hero">
          <div class="tagline">
            <div class="tagline-line"></div>
            <h5 class="heading-tagline">Organisez vos randonnées communautaires !</h5>
          </div>
          <h1 class="h1-title">ALPING</h1>
        </div>
      </div>
      <img :src="require('../assets/landingpage/images/HG.png')"
           sizes="(max-width: 1920px) 100vw, 1920px" data-w-id="8d820f2d-52d3-8c4b-4f71-33c5de2cc9e6" alt=""
           class="hg">
      <img :src="require('../assets/landingpage/images/MG.png')"
           srcset="../assets/landingpage/images/MG-p-1600.png 1600w, ../assets/landingpage/images/MG.png 1920w"
           sizes="(max-width: 1920px) 100vw, 1920px" data-w-id="f095a42a-d5ae-6b01-3de8-4dbc899a5b17" alt=""
           class="mg" :style="{ transform : `translateY(${scroll}px)`}">
      <img :src="require('../assets/landingpage/images/VG.png')"
           sizes="(max-width: 1920px) 100vw, 1920px" data-w-id="cf7ed2c0-d483-b1c6-05ca-2bc9dfa8c5a5" alt=""
           class="vg">
      <div class="gradient-hero"></div>
    </div>
    <div class="content-section">
      <div class="content-wrapper content">
        <div class="grid">
          <div id="w-node-435c3832b714-0b7ceb38" class="content-text">
            <div class="tagline">
              <div class="tagline-line"></div>
              <h5 class="heading-tagline">Des randonnées communautaires</h5>
            </div>
            <h2 class="head">La randonnée qui vous convient</h2>
            <p>Grâce à la carte interactive de la Suisse, trouvez les randonnées qui <b>vous</b> correspondent. Il est
              aussi possible de proposer vos propres randonnées à la communauté en spécifiant divers paramètres tels que
              le lieu, la difficulté ou la distance de marche.</p>
          </div>
          <img :src="require('../assets/landingpage/images/01.png')" alt="" class="image _01">
        </div>
      </div>
      <div class="content-wrapper content">
        <div class="grid">
          <div id="w-node-12f012158455-0b7ceb38" class="content-text">
            <div class="tagline">
              <div class="tagline-line"></div>
              <h5 class="heading-tagline">Des rencontres</h5>
            </div>
            <h2 class="head">Ne marchez plus seul !</h2>
            <p>Rejoignez une randonnée qui correspond à votre expérience et faites connaissance avec d'autres passionnés
              de la marche. La plateforme vous offre les points de contact, rencontrez-vous ensuite pour marcher
              ensemble !</p>
          </div>
          <img :src="require('../assets/landingpage/images/02.png')" alt="" class="image">
        </div>
      </div>
      <div class="content-wrapper content">
        <div class="grid">
          <div id="w-node-af252b1c3813-0b7ceb38" class="content-text">
            <div class="tagline">
              <div class="tagline-line"></div>
              <h5 class="heading-tagline">Simplicité</h5>
            </div>
            <h2 class="head">Alping est là pour vous aider</h2>
            <p>La plateforme est là pour simplifier votre recherche! Plus besoin de perdre des heures pour chercher le
              coin parfait pour une randonnée, plus besoin de chercher où aller pour rencontrer de nouvelles
              personnes!</p>
          </div>
          <img :src="require('../assets/landingpage/images/03.png')" alt="" class="image">
        </div>
      </div>
      <div class="btn-container">
        <div class="center">
          <a class="custom-link" href="https://alping.web.app/">Embarquez maintenant avec Alping en cliquant ici
            !</a>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="content-wrapper content footer">
        <div class="grid footer">
          <div class="footer-left">
            <div class="links">
              <div class="footer-links">
                <h4>Authors</h4>
                <a href="https://gitlab.com/MaIT-HgA" class="footer-link">Mai Hoang Anh</a>
                <a href="https://gitlab.com/maziero.marco" class="footer-link">Maziero Marco</a>
                <a href="https://gitlab.com/Alessandro-AP" class="footer-link">Parrino Alessandro</a>
                <a href="https://gitlab.com/DanSci" class="footer-link">Sciarra Daniel</a>
                <a href="https://gitlab.com/Ga-3tan" class="footer-link">Zwick Gaétan</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AboutPage",
  data() {
    return {
      prevScroll: window.scrollY,
      scroll: 0,
    }
  },
  methods: {
    updateScroll() {
      if (window.scrollY < 500) {
        if (this.prevScroll < window.scrollY) {
          this.scroll -= 1;
        } else {
          this.scroll += 1;
        }
        this.prevScroll = window.scrollY;
        if (this.prevScroll === 0) this.scroll = 0;
      }
    }
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll)
  },
  destroyed() {
    window.removeEventListener('scroll', this.updateScroll)
  }
}
</script>

<style scoped>
@import '@/assets/landingpage/css/normalize.css';
@import '@/assets/landingpage/css/index.css';
@import '@/assets/landingpage/css/webflow.css';
</style>