<template>
  <BasePage>
    <v-container class="createHike">
      <LocationPicker :location.sync="hike.location"/>
      <HikeForm
          :hike="hike"
          @onSubmit="postHikeMethod"
          form-label="Créer ma randonnée"
          btn-label="Créer randonnée"/>
    </v-container>
  </BasePage>
</template>

<script>
import HikeForm from '../components/HikeForm.vue';
import LocationPicker from '../components/LocationPicker.vue';
import BasePage from '../components/BasePage';
import {postHike} from "@/tools/dbInteraction";
import {QUERY_TYPE} from "@/tools/utils";

export default {
  name: 'CreateHike',
  components: {BasePage, HikeForm, LocationPicker},
  data() {
    return {
      hike: {
        title: '',
        description: '',
        image: Math.floor(Math.random() * 5 + 1),
        owner: null,
        location: {lat: 46.779, lng: 6.659},
        distance: '',
        duration: '',
        difficulty: 0,
        date: null,
      },
    };
  },
  methods: {
    async postHikeMethod(hikeData) {
      this.hike = {
        ...hikeData,
        location: this.hike.location,
        owner: this.$store.getters.connectedUser.username
      };
      const success = await postHike(this.hike);
      if (success) {
        await this.$router.push({name: 'Search', query: {type: QUERY_TYPE.ALL}});
      } else {
        window.alert('error creating hike')
      }
    }
  },
};
</script>

<style>
.createHike {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 460px) {
  .createHike {
    flex-direction: column;
  }
}
</style>
