<template>
  <BasePage>
    <img class="image" v-if="$route.params.errorNumber === '404'" src="../assets/img/errors/error_404.jpg" alt="404 Error"/>
    <img class="image" v-else-if="$route.params.errorNumber === '500'" src="../assets/img/errors/error_500.jpg" alt="500 Error"/>
    <img class="image" v-else src="../assets/img/errors/error.jpg" alt="Error"/>
  </BasePage>
</template>

<script>
import BasePage from "../components/BasePage";

export default {
  name: "ErrorPage",
  components: {BasePage},
}
</script>

<style scoped>
.image {
  display: block;
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 0 0 200px 200px #FFFFFF;
}
</style>
