<template>
  <BasePage>
    <v-container class="createHike">
      <LocationPicker :location.sync="hike.location"/>
      <HikeForm
          :hike="hike"
          @onSubmit="updateHikeMethod"
          form-label="Mettre à jour ma randonnée"
          :btn-label="btnLabel"/>
    </v-container>
  </BasePage>
</template>

<script>
import HikeForm from '../components/HikeForm.vue';
import LocationPicker from '../components/LocationPicker.vue';
import BasePage from '../components/BasePage';
import {updateHike} from "@/tools/dbInteraction";

export default {
  name: 'HikeEdition',
  components: { BasePage, HikeForm, LocationPicker },
  data() {
    return {
      hike: null,
      success: null,
    };
  },
  created() {
    this.hike = this.$store.getters.hikeToUpdate;
  },
  methods: {
    async updateHikeMethod(hikeData) {
      this.hike = {...hikeData, location: this.hike.location}
      this.success = await updateHike(this.hike);
      if (this.success) {
        this.$router.go(-1);
      }
    }
  },
  computed: {
    btnLabel() {
      if (this.success === null) {
        return 'Mettre à jour';
      }
      if (this.success) {
        return 'mise à jour réussie'
      } else {
        return 'mise à jour ratée'
      }
    }
  }
};
</script>

<style></style>
