<template>
  <div class="home-page">
    <div class="head-parallax">
      <Navbar with-links class="navbar"/>
      <div>
        <CustomButton class="homeBtn" label="Explorer les randonnées" @clicked="search"/>
        <CustomButton class="homeBtn" label="Créer ma randonnée" @clicked="checkLogin"/>
      </div>
    </div>
    <div v-rellax="rellax">
      <div class="big-row first-row">
        <HorizontalList :title="title" :items="tab"/>
      </div>
    </div>
    <CustomFooter/>
  </div>
</template>

<script>
import Navbar from "../components/HomeNavBar"
import HorizontalList from "../components/HorizontalList";
import CustomButton from "../components/CustomButton";
import CustomFooter from "../components/Footer";
import {searchAll} from "@/tools/utils";

export default {
  name: 'HomePage',
  components: {
    CustomFooter,
    CustomButton,
    Navbar,
    HorizontalList,
  },
  data() {
    return {
      rellax: {
        speed: 2
      },
      title: "Explorez !",
      tab: [
        {image: require('../assets/img/examples/luka-verc-Lrq-pncOEl8-unsplash (Moyen).jpg'), title: "Vaud"},
        {image: require('../assets/img/examples/sonia-parani-VaoUTx7kOiY-unsplash.jpg'), title: "Fribourg"},
        {image: require('../assets/img/examples/freddie-addery-mbWcItoiI1I-unsplash (Moyen).jpg'), title: "Valais"},
        {image: require('../assets/img/examples/arya-krisdyantara-LTEfj149DLQ-unsplash (Moyen).jpg'), title: "Berne"},
        {image: require('../assets/img/examples/luka-verc-Lrq-pncOEl8-unsplash (Moyen).jpg'), title: "Neuchâtel"},
        {image: require('../assets/img/examples/vino-li-TYnquZ3yxBc-unsplash (Moyen).jpg'), title: "Jura"},
        {image: require('../assets/img/examples/alexander-6YIp2RVlCsA-unsplash (Moyen).jpg'), title: "Genève"},
      ]
    }
  },
  methods: {
    search() {
      searchAll(this)
    },
    checkLogin() {
      if (this.$store.getters.isUserAuth) {
        this.$router.push({name: 'CreateHike'})
      } else {
        this.$router.push({name: 'SignUp'})
      }
    }
  }
}
</script>

<style>
.navbar {
  position: absolute;
  top: 0;
  left: 0;
}

.head-parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-size: cover;
  background-image: url("@/assets/img/background.png");
  background-position: bottom;
}

.homeBtn {
  padding: 30px !important; /* important is necessary to overwrite the vuetify padding */
  margin: 0 15px;
}

@media (max-width: 600px) {
  .homeBtn {
    margin: 12px;
    width: 75%;
  }
}

.big-row {
  background-color: #EDEEF0;
}

.first-row {
  box-shadow: inset 0 30px 20px -20px rgba(0, 0, 0, 0.25);
}
</style>
