<template>
  <BasePage>
    <div id="profile_page">
      <v-container class="profile" fluid>
        <transition name="fade" mode="out-in">
          <v-row v-if="this.userInfoLoading" class="align-center justify-center">
            <v-sheet class="pa-3 ma-5">
              <v-skeleton-loader
                  class="mx-auto"
                  width="500px"
                  type="list-item-avatar,card-heading"
              />
            </v-sheet>
          </v-row>
          <UserInformation v-else :userInfo="user"/>
        </transition>
        <v-row class="lists">
          <v-col cols="12" sm="11" md="6" class="px-0 pr-md-3">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  Randonnées favorites
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <transition name="fade" mode="out-in">
                    <v-sheet
                        v-if="this.hikesLoading"
                        class="pa-3"
                        style="margin: 20px"
                    >
                      <v-skeleton-loader
                          class="mx-auto"
                          width="400px"
                          type="list-item-three-line, list-item-three-line, list-item-three-line, list-item-three-line"
                      />
                    </v-sheet>
                    <HikeListContent
                        v-else
                        height="500px"
                        @onItemClick="toggleModalFavorite"
                        :items="favoritesHikes"
                    />
                  </transition>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12" sm="11" md="6" class="px-0 pl-md-3">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  Randonnées créées
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <transition name="fade" mode="out-in">
                    <v-sheet
                        v-if="this.hikesLoading"
                        class="pa-3"
                        style="margin: 20px"
                    >
                      <v-skeleton-loader
                          class="mx-auto"
                          width="400px"
                          type="list-item-three-line, list-item-three-line, list-item-three-line, list-item-three-line"
                      />
                    </v-sheet>
                    <HikeListContent
                        v-else
                        height="500px"
                        @onItemClick="toggleModalCreated"
                        :items="userHikes"
                    />
                  </transition>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <HikeDialog v-if="dialog" v-model="dialog" :hike="selectedHike"/>
  </BasePage>
</template>

<script>
import HikeDialog from "../components/HikeDialog";
import UserInformation from "../components/UserInformation";
import BasePage from "../components/BasePage";
import {fetchUserByUsername, fetchHikes} from "@/tools/dbInteraction"
import {formatHike} from "@/tools/hikeMapper";
import HikeListContent from "@/components/HikeListContent.vue";

export default {
  name: 'ProfilePage',
  components: {HikeListContent, BasePage, UserInformation, HikeDialog},
  data() {
    return {
      userInfoLoading: true,
      hikesLoading: true,
      user: null,
      favoritesHikes: [],
      userHikes: [],
      dialog: false,
      selectedHike: null,
    }
  },
  created() {
    this.fetchUserInformation();
  },
  watch: {
    '$route.params': function () {
      this.$router.go();
    },
    participants: async function () {
      await this.updateFavorites();
    }
  },
  computed: {
    participants: function () {
      return this.selectedHike?.participants;
    }
  },
  methods: {
    async fetchUserInformation() {
      const userProfile = this.$route.params.username;
      const loggedUser = this.$store.getters.connectedUser;

      if (loggedUser?.username !== userProfile) { // visit another profile
        /* fetch user from database */
        this.user = await fetchUserByUsername(this, userProfile);
        this.userInfoLoading = false

        /* fetch hikes from database */
        if (this.user.favorites.length) {
          this.favoritesHikes = await fetchHikes(this.user.favorites);
        }
        if (this.user.createdHikes.length) {
          this.userHikes = await fetchHikes(this.user.createdHikes);
        }

      } else {
        /* set to current logged user */
        this.user = loggedUser;
        this.userInfoLoading = false

        if (loggedUser.favorites.length) {
          this.favoritesHikes = await fetchHikes(loggedUser.favorites);
        }
        if (loggedUser.createdHikes.length) {
          this.userHikes = await fetchHikes(loggedUser.createdHikes);
        }
      }
      this.hikesLoading = false;
    },
    toggleModalCreated(id) {
      this.setCurrentHike(this.userHikes.find(x => x._id === id));
      this.dialog = true;
    },
    toggleModalFavorite(id) {
      this.setCurrentHike(this.favoritesHikes.find(x => x._id === id));
      this.dialog = true;
    },
    setCurrentHike(dbHike) {
      const hike = formatHike(dbHike);
      if (this.selectedHike !== hike)
        this.selectedHike = hike;
    },
    async updateFavorites() {
      const loggedUser = this.$store.getters.connectedUser;
      if (loggedUser?.username === this.$route.params.username) {
        this.favoritesHikes = await fetchHikes(loggedUser.favorites);
      }
    }
  },
};
</script>

<style scoped>
.profile {
  flex-direction: column;
  margin-bottom: 15px;
}

.lists {
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.v-expansion-panel-content>>> .v-expansion-panel-content__wrap {
  padding: 0 8px 16px !important;
}
</style>
