<template>
  <BasePage>
    <div id="search_page">
      <v-container class="search" fluid>
        <v-row>
          <v-col cols="12">
            <v-alert
                dismissible
                dense
                type="warning"
                border="left"
                colored-border
            >
              Si la liste de randonnées apparaît vide (lors d'une recherche globale), veuillez patienter ~40 secondes,
              le temps que le serveur se réveille de sa sieste &#128521;
            </v-alert>
          </v-col>
        </v-row>
        <v-row class="justify-center">
          <v-col cols="12" :sm="nbCol" class="list-container">
            <HikeList :items="hikes" :header-title="null" v-on:dialogChange="updateDialogState"/>
          </v-col>
          <v-col cols="12" :sm="nbCol" class="map">
            <GmapMap
                :center="mapsProps.center"
                :zoom="mapsProps.zoom"
                map-type-id="roadmap"
                class="gmap"
                :options="{
               zoomControl: true,
               mapTypeControl: false,
               scaleControl: false,
               streetViewControl: false,
               rotateControl: false,
               fullscreenControl: true,
               disableDefaultUi: false
             }"
            >
              <GmapMarker
                  :key="m.id"
                  :id="m.id"
                  v-for="m in getMarkers"
                  :position="m.position"
                  :clickable="true"
                  @click="updateDialogState(m.id,true)"
              />
            </GmapMap>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <HikeDialog v-if="dialog" v-model="dialog" :hike="selectedHike"/>
  </BasePage>
</template>

<script>
import HikeList from "../components/HikeList";
import BasePage from "../components/BasePage";
import HikeDialog from "../components/HikeDialog";
import {formatHike} from "@/tools/hikeMapper"
import {fetchAllHikes, fetchHikesWithQuery} from "@/tools/dbInteraction";
import {QUERY_TYPE} from "@/tools/utils";

const DEFAULT_LOCATION = {lat: 46.676933, lng: 6.691657};

export default {
  name: 'SearchPage',
  components: {HikeDialog, BasePage, HikeList},
  created() {
    this.fetchHikes();
  },
  data() {
    return {
      hikes: [],
      dialog: false,
      selectedHike: null,
      mapLocation: DEFAULT_LOCATION,
    }
  },
  methods: {
    async fetchHikes() {
      if (this.$route.query.type === QUERY_TYPE.ALL) {
        this.hikes = await fetchAllHikes();
      } else {
        const {location, hikes} = await fetchHikesWithQuery(this.$route.query);
        this.hikes = hikes;
        this.mapLocation = location;
      }
    },
    updateDialogState(id, state) {
      this.setCurrentHike(this.hikes.find(x => x._id === id));
      this.dialog = state;
    },
    setCurrentHike(dbHike) {
      const hike = formatHike(dbHike);
      if (this.selectedHike !== hike)
        this.selectedHike = hike;
    },
  },
  computed: {
    getMarkers() {
      // Markers for site map
      const markers = [];

      // Create an array with coords
      let tempLatLong = [];
      this.hikes.forEach(hike =>
          tempLatLong.push({
            id: hike._id,
            coord: {
              lat: hike.location.latitude,
              lng: hike.location.longitude
            }
          }))

      // Adding markers
      for (let i = 0; i < tempLatLong.length; i++) {
        markers.push({
          position: tempLatLong[i].coord,
          id: tempLatLong[i].id,
        });
      }
      return markers;
    },
    mapsProps() {
      const isQuery = this.$route.query.type === QUERY_TYPE.QUERY;
      return {
        center: isQuery ? this.mapLocation : DEFAULT_LOCATION,
        zoom: isQuery ? 11 : 9,
      }
    },
    nbCol() {
      return this.$vuetify.breakpoint.width <= 830 ? 12 : 6;
    }
  },
  watch: {
    '$route.params': async function () {
      await this.fetchHikes();
    }
  },
};
</script>

<style scoped>
.list-container {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  min-height: 550px;
  max-height: 78vh;
}

.map {
  min-height: 550px;
  max-height: 78vh;
}

@media (max-width: 600px) {
  .list-container {
    min-height: 420px;
    max-height: 500px;
  }

  .map {
    min-height: 450px;
    max-height: 500px;
  }
}

.gmap {
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.search {
  margin: 15px 0;
}
</style>
