<template>
  <BasePage>
    <v-container class="SignUp" fluid>
      <v-row class="justify-center align-center pa-6">
        <v-col cols="12" sm="6" md="5" lg="4" class="pa-0 mb-6">
          <CustomWhiteContainer
              title="Se connecter"
              :whiteText="true"
              class="login"
              background-color="#F49039"
              :top-right="false"
              :bottom-right="false"
          >
            <v-form class="form" ref="signInForm" v-model="loginData.isValid">
              <CustomField
                  class="customWhiteInput"
                  type="email"
                  label="Email"
                  v-model="loginData.email"
                  required
                  :rules="rules.emailRules"
              />
              <CustomField
                  class="customWhiteInput"
                  type="password"
                  label="Mot de passe"
                  v-model="loginData.password"
                  required
                  :rules="rules.pwdRules"
              />
              <div class="login-buttons">
                <v-btn
                    class="mb-3"
                    elevation="0"
                    rounded
                    :disabled="!loginData.isValid"
                    @click.prevent="signIn"
                >
                  connexion
                </v-btn>
                <CustomGoogleButton
                    label="Connexion avec Google"
                    @clicked="googleSignIn"
                />
              </div>
            </v-form>
          </CustomWhiteContainer>
        </v-col>
        <v-col cols="12" sm="6" md="5" lg="4" class="pa-0">
          <CustomWhiteContainer
              title="S’enregistrer"
              class="register"
              background-color="#ffffff"
          >
            <v-form
                class="form"
                ref="registerForm"
                v-model="registerData.isValid"
                lazy-validation
            >
              <CustomField
                  type="email"
                  label="Email"
                  v-model="registerData.email"
                  required
                  :rules="rules.emailRules"
              />
              <CustomField
                  type="text"
                  label="Nom d'utilisateur"
                  v-model="registerData.username"
                  required
              />
              <CustomField
                  type="text"
                  label="Numéro de téléphone"
                  v-model="registerData.phone"
                  required
                  :rules="rules.phoneRules"
              />
              <CustomField
                  type="password"
                  label="Mot de passe"
                  v-model="registerData.password"
                  required
                  :rules="rules.pwdRules"
              />
              <CustomField
                  type="password"
                  label="Confirmez le mot de passe"
                  v-model="registerData.passwordRepeat"
                  required
                  :rules="[
							input =>
								input === registerData.password ||
								'Les mots de passe ne sont pas identiques',
						]"
              />
              <div class="register-level">
                Indiquez votre niveau :
                <v-rating v-model="registerData.experience" length="4">
                  <template v-slot:item="props">
                    <v-icon
                        :color="props.isFilled ? '#FF9950' : 'grey lighten-1'"
                        @click="props.click"
                        small
                    >
                      fa-mountain
                    </v-icon>
                  </template>
                </v-rating>
              </div>
              <CustomButton
                  class="register-button"
                  label="créer mon compte"
                  :disabled="!registerData.isValid"
                  @clicked="signUp"
              />
            </v-form>
          </CustomWhiteContainer>
        </v-col>
      </v-row>
    </v-container>
  </BasePage>
</template>

<script>
import CustomWhiteContainer from '../components/CustomWhiteContainer';
import CustomButton from '../components/CustomButton';
import CustomGoogleButton from '../components/CustomGoogleButton';
import CustomField from '../components/CustomField';
import * as Rules from '../tools/inputRules';
import BasePage from '../components/BasePage';
import {mapActions} from 'vuex';

export default {
  name: 'SignUp',
  components: {
    BasePage,
    CustomField,
    CustomButton,
    CustomWhiteContainer,
    CustomGoogleButton,
  },
  data: () => ({
    loginData: {
      isValid: true,
      email: '',
      password: '',
    },
    registerData: {
      isValid: true,
      email: '',
      username: '',
      phone: '',
      password: '',
      passwordRepeat: '',
      experience: 1,
    },
    rules: Rules,
  }),
  methods: {
    ...mapActions(['signUpAction', 'signInAction', 'googleSignInAction']),

    signIn() {
      if (this.$refs.signInForm.validate()) {
        this.signInAction(this.loginData);
      }
    },

    signUp() {
      if (this.$refs.registerForm.validate()) {
        this.signUpAction(this.registerData);
      }
    },

    googleSignIn() {
      this.googleSignInAction();
    },
  },
};
</script>

<style>
.form {
  padding: 0 40px 20px 40px;
}

/*
  Log-in
*/
@media (max-width: 600px) {
  .login {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.login {
  z-index: 2;
  clip-path: inset(-50px 0px -50px -50px);
}

.customWhiteInput .v-input__slot {
  background-color: white !important;
}

.login-buttons {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.login-buttons > :first-child {
  margin-right: 20px;
}

/*
  Register
*/
.register {
  z-index: 1;
}

.register-level {
  display: flex;
  justify-content: space-evenly;
  color: #5a5a5a;
  align-items: center;
  font-size: 16px;
  min-width: 270px;
}

.register-button {
  margin: 25px 0 20px;
}
</style>
