<template>
  <BasePage>
    <div class="edit-container">
      <CustomWhiteContainer title="Éditer mon profil">
        <v-form
            class="form"
            ref="registerForm"
            lazy-validation
        >
          <CustomField
              type="email"
              label="Email"
              v-model="oldUser.email"
              disabled
          />
          <CustomField
              type="text"
              label="Nom d'utilisateur"
              v-model="oldUser.username"
              disabled
          />
          <CustomField
              type="text"
              label="Numéro de téléphone"
              v-model="updateData.user.phone"
              required
              :rules="phoneRule"
          />
          <div class="register-level">
            Votre niveau :
            <v-rating v-model="updateData.user.experience" length="4">
              <template v-slot:item="props">
                <v-icon
                    :color="props.isFilled ? '#FF9950' : 'grey lighten-1'"
                    @click="props.click"
                    small
                >
                  fa-mountain
                </v-icon>
              </template>
            </v-rating>
          </div>
          <CustomButton
              class="register-button"
              :label="message"
              @clicked="updateUser"
          />
        </v-form>
      </CustomWhiteContainer>
    </div>
  </BasePage>
</template>

<script>
import BasePage from "../components/BasePage";
import CustomButton from "../components/CustomButton";
import CustomField from "../components/CustomField";
import CustomWhiteContainer from "../components/CustomWhiteContainer";
import {phoneRules} from "@/tools/inputRules";
import {updateUserData} from "@/tools/dbInteraction";

export default {
  name: "ProfileEdition",
  components: {BasePage, CustomButton, CustomField, CustomWhiteContainer},
  data() {
    return {
      phoneRule: phoneRules,
      oldUser: {
        username: '',
        email: '',
      },
      updateData: {
        user: {
          experience: 0,
          phone: '',
        },
      },
      success: null,
    }
  },
  created() {
    this.oldUser = this.$store.getters.connectedUser;
    this.updateData.user.experience = this.oldUser.experience;
    this.updateData.user.phone = this.oldUser.phone;
  },
  methods: {
    async updateUser() {
      this.success = await updateUserData(this.oldUser.uid, this.updateData);
    }
  },
  computed: {
    message() {
      if (this.success === null) {
        return 'mettre à jour mon compte';
      }
      if (this.success) {
        return 'mise à jour réussie'
      } else {
        return 'mise à jour ratée'
      }
    }
  }
}
</script>

<style scoped>
.edit-container {
  margin: 25px auto;
  padding-inline: 20px;
  max-width: 550px;
}
</style>
