@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Quicksand"), url("~@/assets/fonts/Quicksand/Quicksand-Regular.woff") format("trueType");
}
$body-font-family: 'Quicksand';
$font-awesome: 'Font Awesome 5 Free';

.fa, .fas {
  font-family: $font-awesome !important;
}
.v-application .v-application--wrap * {
  font-family: $body-font-family;
}

.v-text-field__suffix {
  margin-top: 0px!important;
}